$primary: #5488c7;
$black: #292f34;
$gray: #657786;
$gray-lighter: #dbe3e8;
$green: #13ce66;
$link: $primary;

$theme-colors: (
    "primary": $primary,
    "black": $black,
    "muted": $gray,
    "green": $green
);
