.notification-container
    padding: 0
    overflow-y: auto
    max-height: 315px

    .notification-item
        display: flex
        padding: .5rem
        white-space: normal
        align-items: center
        border-bottom: 1px solid $base-border-color
        cursor: pointer

        background-color: #fff

        &:hover
            background-color: #f1f4f6

        &.new
            background-color: #dbe3e8

            &:hover
                background-color: #e4eaee

        .avt-ctn
            min-width: 3.75rem
            margin: .5rem
            margin-right: 0.7rem

        .notification-message
            display: block
            width: 100%
            padding: .5rem
            padding-left: 0
            color: black
            font-size: $font-size-base

            &:hover
                color: black

            a
                font-weight: bold

            b
                color: $primary

            &.no-sender
                padding-left: 3.8rem

        &:hover .notification-item-menu
            visibility: visible !important

    .notification-item:last-of-type
        border-bottom: none !important

    .notification-status
        padding: 10px 0

    .infinite-status-prompt
        display: none !important
